[user]
  name = UseK
  email = use.k.james@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
  ui = true
[alias]
  last = log -1 HEAD
  s = status --short
  d = diff
  cancelcommit = reset --soft HEAD~
  l = log --oneline --decorate=full
  graph = log --graph --pretty='format:%C(yellow)%h%Creset %ad %s %Cgreen(%an)%Creset %Cred%d%Creset' --all --date=short
  diffw = diff --color-words
[credential]
	helper = osxkeychain
