[user]
  name = UseK
  email = use.k.james@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim -c \"set fenc=utf-8\"
  quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
  ui = true
[alias]
  last = log -1 HEAD
  s = status --short
  d = diff
  cancelcommit = reset --soft HEAD~
  l = log --oneline --decorate=full
  pretty-log = log --pretty=format:'<%an> %h [%cd] %d %s' --date=format:'%m/%d %H:%M'
  graph = log --graph --pretty='format:%C(yellow)%h%Creset %ad %s %Cgreen(%an)%Creset %Cred%d%Creset' --all --date=short
  diffw = diff --color-words
[credential]
	helper = osxkeychain
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templatedir = ~/dotfiles/.git-templates/git-secrets
