"検索をファイルの先頭へ循環しない
set nowrapscan
"検索結果をハイライト
set hlsearch
"x キー削除でデフォルトレジスタに入れない
nnoremap x "_x
vnoremap x "_x
" インサートモードから抜けると自動的にIMEをオフにする
set iminsert=2
"j, k による移動を折り返されたテキスト
nnoremap j gj
nnoremap k gk
"vim-surround
set surround
"ヤンクの内容をクリップボードにコピー
"vim上でハイライトして選択したテキストがクリップボードにコピー
set clipboard=unnamed,autoselect
"control 押しっぱなしでもウィンドウ間移動可能
nnoremap <C-w><C-l> <C-w>l
nnoremap <C-w><C-h> <C-w>h
